div.container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 100vw;
	height: 100vh;
	position: relative;
}

header {
	font-size: 2rem;
	font-weight: 600;
	background-color: black;
	height: 100px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

section.newTask {
	display: flex;
	gap: 10px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100vw;
	position: absolute;
	top: 85px;
}

section.newTask > input {
	width: 300px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 0 10px;
	font-size: 16px;
	color: #333;
	background-color: #f5f5f5;
}

section.newTask > button {
	width: 100px;
	height: 32px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 0 10px;
	font-size: 16px;
	color: #333;
	background-color: #f5f5f5;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	flex: 1;
	width: 100vw;
	background-color: slategrey;
	padding-top: 4rem;
}

main > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 50vw;
	max-width: 80vw;
	height: 3rem;
	background-color: rgb(20, 20, 20);
	border-radius: 0.5rem;
	padding: 1rem;
}

main > div > button.deleteButton {
	width: 5rem;
	height: 2rem;
	padding: 0 10px;
	font-size: 16px;
	color: white;
	background-color: darkred;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100vw;
	background-color: black;
}
